
html {
	color: #002E6D;
	background-color: White;
}

a:link {
	color: #3E8EDE;
}

a:visited {
	color: #512C1D;
}

a:hover {
	color: #3172AE;
}

ul {
	padding: 0;
	list-style-type: none;
}

table {
	border-spacing: 10px 20px;
}

tr {
	text-align:left;
}

td {
	padding: 0px 0px;
}


